.container{
    display: flex;
}
.links{
    display: flex;
    flex-direction: column;
}
.button_class{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}